nav {
    display: flex;
    justify-content: space-around;
    background-color: #ff6126;
    height: 50px;
    align-items: center;
    font-size: 18px;
}

nav a {
    text-decoration: none;
    color: white;
    text-align: center;
    padding: 10px;
}

input {
    width: 75%;
    height: 30px;
    border-radius: 5px;
    border: none;
}

input:focus {
    outline: #ff6126;
    outline-style: auto;
}