<section>
    <div class="img-container">
        <img src="https://img.olx.com.br/images/30/300317824381804.jpg" alt="" srcset="">
    </div>

    <div class="info">
        <div class="valor-box">
            <span class="valor">R$37.500</span>
        </div>
        <div class="detalhes">
            <span class="modelo">Nissan March 2018 Preto</span>
            <div class="principais-info">
                <div class="principal-info">
                    <img src="assets/images/velocimetro.png" alt="" srcset="">
                    <span>1.000 km</span>
                </div>
                <div class="principal-info">
                    <img src="assets/images/pincel.png" alt="" srcset="">
                    <span>Preto</span>
                </div>
                <div class="principal-info">
                    <img src="assets/images/motor-de-carro.png" alt="" srcset="">
                    <span>1.0</span>
                </div>
            </div>
            <span class="Localidade">Mogi das Cruzes - SP</span>
        </div>
    </div>
</section>