<section>
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carouselExampleIndicators" class="active"></li>
          <li data-target="#carouselExampleIndicators"></li>
          <li data-target="#carouselExampleIndicators"></li>
        </ol>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img class="d-block w-100" src={{anuncio.fotosUrl[0]}} alt="Primeiro Slide">
          </div>
          <div class="carousel-item">
            <img class="d-block w-100" src={{anuncio.fotosUrl[0]}} alt="Segundo Slide">
          </div>
          <div class="carousel-item">
            <img class="d-block w-100" src={{anuncio.fotosUrl[0]}} alt="Terceiro Slide">
          </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Anterior</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Próximo</span>
        </a>
      </div>

    <div class="info">
        <div class="valor-box">
            <span class="valor">{{anuncio.valor | currency: "BRL"}}</span>
        </div>
        <div class="detalhes">
            <span class="modelo">{{anuncio.veiculo.modelo}}</span>
            <div class="principais-info">
                <div class="principal-info">
                    <img src="assets/images/velocimetro.png" alt="" srcset="">
                    <span>{{anuncio.veiculo.kmRodados}} km</span>
                </div>
                <div class="principal-info">
                    <img src="assets/images/pincel.png" alt="" srcset="">
                    <span>{{anuncio.veiculo.cor}}</span>
                </div>
                <div class="principal-info">
                    <img src="assets/images/motor-de-carro.png" alt="" srcset="">
                    <span>1.0</span>
                </div>
            </div>
            <span class="Localidade">{{anuncio.anunciante.endereco.cidade}} - {{anuncio.anunciante.endereco.estado}}</span>
        </div>
    </div>
</section>